<body>
    <head>
        <link rel="stylesheet" href="/styles.css">
        
        <header>
            <h1><%= title %></h1>
            <a href="/create"> 
                <h2>Add movie</h2>
            </a>
            <a href="/"><h2>Home</h2></a>
            <form id="delete-category" action="/deleteCategory/<%= title %> " method="POST" style="display:inline;">
                <button type="submit" onclick="return confirm('Are you sure you want to delete this category? Important: this will delete all movies in that category');">Delete Category</button>
                </form>
            </header>
            
    </head>
    <nav>
        <ul id="Movies-category">
            <% if (locals.category) {%>
            <% for (let i = 0; i < category.length; i++) { %>
                <h3><%= category[i].title %></h3>
                <li>
                    <div id="info">
                    <p><strong>Release: </strong> <%= category[i].year.toDateString() %></p>
                    <p><strong>Director:</strong> <%= category[i].director %></p>
                    <p><strong>Genre:</strong> <%= category[i].genre %></p>
                    <p><strong>Actor:</strong> <%= category[i].actor %></p>
                </div>
                    <img src="<%= category[i].url %>" alt="">
                    <a id="update" href="/update/<%= category[i].id %>"onclick="return confirm('Are you sure you want to update this movie?');" >Update</a>
                    <form id="delete" action="/delete/<%= category[i].id %> " method="POST" style="display:inline;">
                       <button type="submit" onclick="return confirm('Are you sure you want to delete this movie?' )">Delete</button>
                       </form>
                </li>
           <% } %>
           <% } %>
        </ul>
        
        
    </nav>
</body>