<body>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <h1>Homepage</h1>
    </head>
    <nav>
        <ul>
            <% if (locals.movies) {%>
            <% for (let i = 0; i < movies.length; i++) { %>
                <h3>Movie <%=[i]%></h3>
                <li>
                    <p><%= movies[i].title %></p>
                    <p><%= movies[i].year %></p>
                    <p><%= movies[i].director %></p>
                    <p><%= movies[i].genre %></p>
                    <p><%= movies[i].actor %></p>
                     <img src="<%= movies[i].url %>" alt="">
                     <a href="/update/<%= movies[i].id %>">Update</a>
                     <form action="/delete/<%= movies[i].id %> " method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this category? ');">Delete</button>
                        </form>
                </li>
           <% } %>
           <% } %>
        </ul>
        <ul>
            <h3>Category</h3>
            <% if (locals.moviesCategory) {%>
                <% for (let i = 0; i < moviesCategory.length; i++) { %>
                        
                    <li>
                        
                        <a href="/category/<%= moviesCategory[i] %>">
                            <%= moviesCategory[i] %>
                       </a>
                        
                    </li>
                    <% } %>
                    <% } %>     
        </ul>
        <a href="/create">
            <span>Create new User ==></span>
        </a>
    </nav>
</body>