<body>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <h1>Homepage</h1>
    </head>
    <nav>
        <ul>
            <% if (locals.movies) {%>
            <% for (let i = 0; i < movies.length; i++) { %>
                <h3>Movie <%=[i]%></h3>
                <li>
                    <p><%= movies[i].title %></p>
                    <p><%= movies[i].year %></p>
                    <p><%= movies[i].director %></p>
                    <p><%= movies[i].genre %></p>
                    <p><%= movies[i].actor %></p>
                     <img src="<%= movies[i].url %>" alt="">
                </li>
           <% } %>
           <% } %>
        </ul>
        <ul>
            <h3>Category</h3>
          
                        
                    <li>
                        <a href="/category/Horror">
                            Horror
                       </a>
                        
                    </li>
        </ul>
        <a href="/create">
            <span>Create new User ==></span>
        </a>
    </nav>
</body>